---
- name: Basedir
  ansible.builtin.file:
    path: "{{ item.basedir }}"
    state: directory
    owner: "{{ item.folderowner | default(omit) }}"
    group: "{{ item.foldergroup | default(omit) }}"
    mode: "{{ item.foldermode | default(omit) }}"
  loop: "{{ docker_containers }}"
  tags:
    - docker
    - container
    - folder
    - basedir

- name: Compose
  ansible.builtin.template:
    src:
      "{{ item.compose_template | default('default-docker-compose.yml.j2') }}"
    dest: "{{ item.basedir }}/{{ item.compose_filename |
      default('docker-compose.yml') }}"
    owner: "{{ item.fileowner | default(omit) }}"
    group: "{{ item.filegroup | default(omit) }}"
    mode: "{{ item.filemode | default(omit) }}"
  register: compose
  notify:
    - Compose down
    - Compose up
  loop: "{{ docker_containers }}"
  tags:
    - docker
    - container
    - template
    - compose

- name: Env
  ansible.builtin.template:
    src:
      "{{ item.env_template | default('default-docker-compose.yml.j2') }}"
    dest: "{{ item.basedir }}/.env"
    owner: "{{ item.fileowner | default(omit) }}"
    group: "{{ item.filegroup | default(omit) }}"
    mode: "{{ item.filemode | default(omit) }}"
  when: item.env_template is defined
  register: env
  notify:
    - Env compose down
    - Env compose up
  loop: "{{ docker_containers }}"
  tags:
    - docker
    - container
    - template
    - env

- name: Compose state
  community.docker.docker_compose_v2:
    project_src: "{{ item.basedir }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ docker_containers }}"
  tags:
    - docker
    - container
    - compose
    - state
