---
- name: basedir
  file:
    path: "{{ item.basedir }}"
    state: directory
    owner: "{{ item.folderowner | default ( omit ) }}"
    group: "{{ item.foldergroup | default ( omit ) }}"
    mode: "{{ item.foldermode | default ( omit ) }}"
  loop: "{{ docker_containers }}"
  tags:
    - docker
    - container
    - folder
    - basedir

- name: docker-compose.yml
  template:
    src:
      "{{ item.compose_template | default ('default-docker-compose.yml.j2') }}"
    dest: "{{ item.basedir }}/docker-compose.yml"
    owner: "{{ item.fileowner | default ( omit ) }}"
    group: "{{ item.filegroup | default ( omit ) }}"
    mode: "{{ item.filemode | default ( omit ) }}"
  register: compose
  notify:
    - docker-compose down
    - docker-compose up
  loop: "{{ docker_containers }}"
  tags:
    - docker
    - container
    - docker-compose

- name: docker-compose state
  community.general.docker_compose:
    project_src: "{{ item.basedir }}"
    state: "{{ item.state | default ('present') }}"
  loop: "{{ docker_containers }}"
