---
# tasks file for docker
- name: "systemd proxy environment (folder)"
  file:
    path: "/etc/systemd/system/docker.service.d"
    state: directory
  when:
    - proxy_env is defined
  tags:
    - docker
    - systemd
    - proxy

- name: "systemd proxy environment (file)"
  template:
    src: "http-proxy.conf.j2"
    dest: "/etc/systemd/system/docker.service.d/http-proxy.conf"
  notify:
    - systemd reload
    - docker restart
  when:
    - proxy_env is defined
  tags:
    - docker
    - systemd
    - proxy

- name: "dependencies"
  apt:
    name: "{{ docker_dependencies }}"
  tags:
    - docker
    - dependencies

- name: "APT key"
  apt_key:
    url: "{{ docker_gpg_key }}"
    state: present
  tags:
    - docker
    - apt
    - key

- name: "APT repository"
  apt_repository:
    filename: 'docker'
    repo: "deb https://download.docker.com/linux/debian {{ ansible_lsb.codename }} stable"
  tags:
    - docker
    - apt
    - repository

- name: "package"
  apt:
    name: "{{ docker_packages }}"
  when:
    - not ansible_check_mode
  tags:
    - docker
    - packages

- name: "docker-compose"
  get_url:
    url: "https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-{{ ansible_system }}-{{ ansible_architecture }}"
    dest: '/usr/local/bin/docker-compose'
    force: yes
    owner: root
    group: root
    mode: 0775
    timeout: "{{ docker_compose_get_timeout | default (10) }}"
  when:
    - not ansible_check_mode
  tags:
    - docker
    - compose
...
