---
# tasks file for docker
- name: Systemd proxy environment folder
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: 0755
  when:
    - proxy_env is defined
  tags:
    - docker
    - systemd
    - proxy

- name: Systemd proxy environment file
  ansible.builtin.template:
    src: http-proxy.conf.j2
    dest: /etc/systemd/system/docker.service.d/http-proxy.conf
    mode: 0644
  notify:
    - Reload systemd
    - Restart docker
  when:
    - proxy_env is defined
  tags:
    - docker
    - systemd
    - proxy

- name: APT key
  ansible.builtin.apt_key:
    url: "{{ docker_gpg_key }}"
    state: present
  when:
    - docker_origin is defined
    - docker_origin | lower == "upstream"
  tags:
    - docker
    - apt
    - key

- name: APT repository
  ansible.builtin.apt_repository:
    filename: docker
    repo:
      "deb {{ docker_repository_url }} {{ docker_distribution_codename |
      default(ansible_lsb.codename) }} stable"
  when:
    - docker_origin is defined
    - docker_origin == "upstream"
  tags:
    - docker
    - apt
    - repository

- name: Set facts for distrib version
  ansible.builtin.set_fact:
    docker_packages:
      - docker.io
      - docker-compose
  when:
    docker_origin is not defined or
    docker_origin | lower != 'upstream'
  tags:
    - docker

- name: Set facts for upstream version
  ansible.builtin.set_fact:
    docker_packages:
      - docker-ce
  when:
    - docker_origin is defined
    - docker_origin | lower == 'upstream'
  tags:
    - docker

- name: Package
  ansible.builtin.apt:
    name: "{{ docker_packages }}"
  tags:
    - docker
    - package

- name: Service_facts
  ansible.builtin.service_facts:
  tags:
    - docker

- name: Docker group members
  ansible.builtin.user:
    name: "{{ item }}"
    groups:
      - docker
    append: true
  loop: "{{ docker_users }}"
  when:
    - docker_users is defined
    - "'docker.service' in services"
  tags:
    - docker

- name: Containers
  ansible.builtin.import_tasks: containers.yml
  when:
    - docker_containers is defined
