---
# tasks file for docker
- name: "systemd proxy environment (folder)"
  file:
    path: "/etc/systemd/system/docker.service.d"
    state: directory
  when:
    - proxy_env is defined
  tags:
    - docker
    - systemd
    - proxy

- name: "systemd proxy environment (file)"
  template:
    src: "http-proxy.conf.j2"
    dest: "/etc/systemd/system/docker.service.d/http-proxy.conf"
  notify:
    - systemd reload
    - docker restart
  when:
    - proxy_env is defined
  tags:
    - docker
    - systemd
    - proxy

- name: "APT key"
  apt_key:
    url: "{{ docker_gpg_key }}"
    state: present
  tags:
    - docker
    - apt
    - key

- name: "APT repository"
  apt_repository:
    filename: 'docker'
    repo: "deb {{ docker_repository_url }} {{ ansible_lsb.codename }} stable"
  tags:
    - docker
    - apt
    - repository

- name: "packages"
  apt:
    name: "{{ docker_dependencies + docker_packages }}"
  tags:
    - docker
    - packages

# - name: "get latest docker-compose version"
#   shell: wget -O- https://github.com/docker/compose/releases/latest 2>/dev/null|grep -iPo '(?<=<title>Release )[^ ]+'
#   register: dc_latest
#   check_mode: no
#   changed_when: False
#   when:
#     - docker_compose_version is not defined
#   tags:
#     - docker
#     - compose
#     - version

- name: "get latest docker-compose version"
  uri:
    url: https://github.com/docker/compose/releases/latest
    return_content: no
  register: dc_latest
  check_mode: no
  changed_when: False
  when:
    - docker_compose_version is not defined
  tags:
    - docker
    - compose
    - version

- name: "set docker_compose_version with guessed value"
  set_fact:
    docker_compose_version: "{{ dc_latest.url | regex_replace('^.*tag/(.*)$', '\\1') }}"
  when:
    - docker_compose_version is not defined
  tags:
    - docker
    - compose
    - version

# - name: "print docker-compose version"
#   debug:
#     var: docker_compose_version
#   tags:
#     - docker
#     - compose
#     - version
#     - debug

- name: "get docker-compose"
  get_url:
    url: "https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-{{ ansible_system }}-{{ ansible_architecture }}"
    dest: '/usr/local/bin/docker-compose'
    force: yes
    owner: root
    group: root
    mode: 0775
    timeout: "{{ docker_compose_get_timeout | default (10) }}"
  check_mode: no
  tags:
    - docker
    - compose
...
