---
# handlers file for docker
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted

- name: Compose down
  community.docker.docker_compose_v2:
    project_src: "{{ item }}"
    state: absent
  loop: "{{ compose.results |
  selectattr('changed', 'equalto', true) |
  map(attribute='item') |
  map(attribute='basedir') |
  list }}"

- name: Compose up
  community.docker.docker_compose_v2:
    project_src: "{{ item }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ compose.results |
  selectattr('changed', 'equalto', true) |
  map(attribute='item') |
  map(attribute='basedir') |
  list }}"

- name: Env compose down
  community.docker.docker_compose_v2:
    project_src: "{{ item }}"
    state: absent
  loop: "{{ env.results |
  selectattr('changed', 'equalto', true) |
  map(attribute='item') |
  map(attribute='basedir') |
  list }}"

- name: Env compose up
  community.docker.docker_compose_v2:
    project_src: "{{ item }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ env.results |
  selectattr('changed', 'equalto', true) |
  map(attribute='item') |
  map(attribute='basedir') |
  list }}"
